<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static "css/style.css" %}">

</head>
<body>
    <div>
        <h1>Peliculas</h1>
        <div id="imagenes">
            <img onclick="" id="foto" src="{%static "img/peli2.png" %}">
            <img onclick="" id="foto" src="{%static "img/scary.png" %}">
            <img onclick="" id="foto" src="{%static "img/peli3.png" %}">
        </div>
        <p>se me olvido como ahcer el onclick pero estan las url</p>
    </div>

</body>
</html>